extends layout.pug
block content
    nav.nav
        a(href='/')
            span &larr;
            |  Back
    article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1= `${err.message} - Status: ${err.status}`
