extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p A compilation of the projects I have completed through the Treehouse Full Stack JavaScript Techdegree Program.
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src= `${project.image_urls[0]}`, alt=`${project.project_name} project page`)
            h5= `${project.project_name}`
